<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2"
                            (click)="deleteSelectedDirectorys()"
                            [disabled]="!selectedDirectorys || !selectedDirectorys.length"></button>
                        <span class="p-buttonset">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                                class="p-button-warning" pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                class="p-button-warning" pTooltip="PDF" tooltipPosition="bottom"></button>
                        </span>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table id="my-table" #dt [value]="directorys" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','mobile','email']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedDirectorys" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Nearest Blood Bank(BB)/ Blood Storage Unit(BSU)</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="availability"> Availability <p-sortIcon field="availability"></p-sortIcon> 
                        </th>
                        <th pSortableColumn="group"> Blood Group <p-sortIcon field="group"></p-sortIcon> 
                        </th> -->
                        <th pSortableColumn="mobile">Mobile<p-sortIcon field="mobile"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category<p-sortIcon field="category"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-directory>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="directory"></p-tableCheckbox>
                        </td>
                        <td>{{directory.name}}</td>
                        <!-- <td>{{directory.availability}}</td> -->
                        <!-- <td>{{directory.group}}</td> -->
                        <td>{{directory.mobile}}</td>
                        <td>{{directory.category}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="viewDirectory(directory)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editDirectory(directory)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteDirectory(directory)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="directoryDialog" [style]="{width: '450px'}" header="Directory Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Blood Bank Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="directory.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.name">Name is required.</small>
                </div>
                
                <div class="field">
                    <label for="state">State </label>
                    <input type="text" pInputText id="state" [(ngModel)]="directory.state" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.state}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.state">State is required.</small>
                </div>
                <div class="field">
                    <label for="district">District </label>
                    <input type="text" pInputText id="district" [(ngModel)]="directory.district" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.district}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.district">District is required.</small>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="directory.address" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.address}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.address">Address is required.</small>
                </div>
                <div class="field">
                    <label for="mobile">Mobile</label>
                    <p-inputMask mask="9999999999" placeholder="9999999999" id="mobile" [(ngModel)]="directory.mobile"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.mobile}"></p-inputMask>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.mobile">Mobile No is
                        required.</small>
                </div>
                <div class="field">
                    <label for="email">E-Mail</label>
                    <input type="email" pInputText id="email" [(ngModel)]="directory.email" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !directory.email}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !directory.email">E-Mail is required.</small>
                </div>
                <div class="field">
                    <label for="category"> Category</label>
                    <p-dropdown [(ngModel)]="directory.category" inputId="class" optionValue="value" [options]="categorys"
                        placeholder="Choose Category">
                        <ng-template pTemplate="selectedItem">
                            {{directory.category}}
                        </ng-template>
                    </p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveDirectory()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="directoryViewDialog" [style]="{width: '450px'}" header="Directory Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Blood Bank Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="directory.name" readonly required autofocus />
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="directory.address" readonly required autofocus />
                </div>
                <div class="field">
                    <label for="mobile">Mobile</label>
                    <input type="text" pInputText id="mobile" [(ngModel)]="directory.mobile" readonly required autofocus />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="directory.email" readonly required autofocus />
                </div>
                <div class="field">
                    <label for="category">Category</label>
                    <input type="text" pInputText id="pincode" [(ngModel)]="directory.category" readonly required autofocus />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDirectoryDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="directory">Are you sure you want to delete <b>{{directory.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteDirectoryDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDirectorysDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected directorys?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteDirectorysDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
