<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table id="my-table" #dt [value]="usertypes" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','mobile','email']" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">User Type</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th pSortableColumn="roleid">roleid<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="userid">userid<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdAt">createdAt<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th></th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usertype>
                    <tr>
                        
                        <td>{{usertype.email}}</td>
                        <td>{{usertype.roles["0"].name}}</td>
                        <td>{{usertype.createdAt | date:"dd/MM/yyyy"}}</td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editUsertype(usertype)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

       



        <p-dialog [(visible)]="usertypeDialog" [style]="{width: '400px',height: '300px'}" header="User Type" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="col-12">
                    <div class="field">
                        <label for="types">User Type</label>
                        <p-dropdown  inputId="class" optionValue="value" [options]="type"
                            placeholder="Choose User Type">
                            <ng-template pTemplate="selectedItem">
                                {{usertype.type}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Donate Now" icon="pi pi-check" class="p-button-text"
                    (click)="saveUserType()"></button>
            </ng-template>

        </p-dialog>

        

        
    </div>
</div>
